<div class="sidebar-container">
    <div class="sidebar-logo">
      Employee Management
    </div>
    <ul class="sidebar-navigation">
      <li class="header">Navigation</li>
      <li>
        <a href="#">
          <i class="fa fa-home" aria-hidden="true"></i> Homepage
        </a>
      </li>
    </ul>
  </div>
  
  <div class="content-container">
  
    <div class="container-fluid">
  
      <!-- Main component for a primary marketing message or call to action -->
      <router-outlet></router-outlet>
  
    </div>
  </div>